*{
    margin: 0;
    padding: 0;
}

.Titulos h1{
    font-style: italic;
    font-size: 100px;
    text-align: center;
    background: #ffc048;
    padding: 20px;
}

.Titulos h2{
    background: #ffc048;
    padding-top: 0px;
    padding-right: 10%;
    text-align: right ;
    font-size: 45px;
}

.Indice {
    text-align: left;
    padding: 5px 15px;
}
.Indice li {
    list-style: none;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 7px;
    display: inline-block;
}
body {
    background: #FFEDC4;
    text-align: center;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

li a:hover {
    color: #2d3436;
    border-bottom: 2px solid #2d3436;
}

footer a:hover {
    color: #2d3436;
    border-bottom: 2px solid #2d3436;
}

a:hover img{
    opacity: 80%;
}

.Total {
    margin: auto;
    display: block;
    margin-top: 1px;
    width: 960px;
}

#entrada{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    padding: 50px 100px;
}

.articlePar {
    background: #fdcb6e;

}
.enlado {
    padding: 0px 0px;
    width: 600px;
    float: left;
    margin: 25px;
}

article p {
    padding: 10px;
    text-align: justify;
    font-size: larger;
}

#poema1 {
    text-align: center;
}

aside {
    padding: 25px;
    float : left;
}

aside h3 {
    font-weight: bold ;
    text-decoration: underline;
}

aside img {
    margin-top: 15px;
}

img {
    border: 1.5px solid black;
    width: 250px;
    padding: 5px;
    background: #40739e;
}
footer {
    padding: 30px;
    margin: 10px;
    clear: both;
}